<div id="share-options-bar" class="share-options-bar" data-behavior="<%= sidebarBehavior %>">
    <ul class="share-options">
        <li class="share-option">
            <a class="share-option-btn" target="new" href="<%= 'http://www.jiathis.com/send/?webid=tsina&appkey=&uid=2113868&url=' + post.permalink + '&title=' + post.title %>">
                <i class="fa fa-weibo"></i><span><%= __('global.share_on_weibo') %></span>
            </a>
        </li>
        <li class="share-option">
            <a class="share-option-btn" target="new" href="<%= 'http://www.jiathis.com/send/?webid=weixin&appkey=&uid=2113868&url=' + post.permalink + '&title=' + post.title %>">
                <i class="fa fa-weixin"></i><span><%= __('global.share_on_weixin') %></span>
            </a>
        </li>
        <li class="share-option">
            <a class="share-option-btn" target="new" href="<%= 'https://twitter.com/intent/tweet?text=' + post.permalink %>">
                <i class="fa fa-twitter"></i><span><%= __('global.share_on_twitter') %></span>
            </a>
        </li>
    </ul>
</div>
<div id="share-options-mask" class="share-options-mask"></div>
